<header class="site-header">
  <div class="logo-container">
    <img src="favicon.ico" alt="Site Icon" class="site-icon">
    <span class="site-title">BookVoyage</span>
  </div>
  <div class="button-container">
    <button class="transparent-button" [ngClass]="{'active': currentRoute === '/grid-view'}" (click)="navigateToGridView()">
      Books
    </button>
    <button class="icon-button" [ngClass]="{'active': currentRoute === '/home'}" (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</header>
<router-outlet></router-outlet>