<div class="icon-container-back">
  <button mat-icon-button (click)="goBack()" class="back-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<h2>{{ isEditMode ? 'Edit Book' : 'Add Book' }}</h2>

<form [formGroup]="bookForm" (ngSubmit)="submitForm()" class="form-container">
  <mat-form-field appearance="outline">
    <mat-label>Book Name</mat-label>
    <input matInput
     formControlName="name"
     type="text"
     required />
    <mat-error *ngIf="bookForm.get('name')?.hasError('required')">
      Book name is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Author</mat-label>
    <input matInput
     formControlName="author"
     type="text"
     required />
    <mat-error *ngIf="bookForm.get('author')?.hasError('required')">
      Author is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput 
     formControlName="description" 
     rows="5">
    </textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button [disabled]="bookForm.invalid">
    {{ isEditMode ? 'Save Changes' : 'Add Book' }}
  </button>
</form>
