<div class="dialog-content">
  <h2>{{ isEditMode ? 'Edit Book' : 'Add Book' }}</h2>

  <form [formGroup]="bookForm" (ngSubmit)="submitForm()" class="form-container">
    <mat-form-field appearance="outline" class="field-background">
      <mat-label>Book Name</mat-label>
      <input matInput formControlName="name" type="text" required />
      <mat-error *ngIf="bookForm.get('name')?.hasError('required')">
        Book name is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-background">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" type="text" required />
      <mat-error *ngIf="bookForm.get('author')?.hasError('required')">
        Author is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-background">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>

    <div class="dialog-buttons">
      <button type="submit" mat-raised-button color="primary" [disabled]="bookForm.invalid">
        {{ isEditMode ? 'Save Changes' : 'Add Book' }}
      </button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
