.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center; 
  height: 100%; 
  background-color: #cdb9ac;;
  border-radius: 8px;
}
  
.dialog-buttons {
  margin-top: 25px; 
}

.dialog-buttons button {
  border-radius: 8px;
  margin: 0 30px;
  padding: 8px 16px;
  background-color: #a38878; 
  color: #000000;
  transition: background-color 0.3s ease;
}

.dialog-buttons button:hover {
  background-color: #786e66;
}

.dialog-buttons button:active {
  background-color: #6a5d54;
}
