.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    height: 100%; 
  }
  
  .dialog-buttons {
    margin-top: 20px; 
  }
  