<div class="book-details-container">
  <div class="icon-container-back">
    <button mat-icon-button (click)="goBack()" class="back-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="book-details-card">
    <img [src]="randomImage" alt="Random Image" class="book-image">
    <h2>{{ book?.name }}</h2>
    <p><strong>Author:</strong> {{ book?.author }}</p>
    <p><strong>Description:</strong> {{ book?.description }}</p>
    <div class="icon-container">
      <button mat-icon-button (click)="confirmDelete()" class="icon-button">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
