.mat-dialog-container {
    max-height: none !important;
    overflow: hidden;
}
  
.delete-button {
    padding: 4px 10px; 
    font-size: 0.8rem; 
    vertical-align: middle; 
    background-color: #8f8985;
    color: #8f8985;
}

.delete-button:hover {
    background-color: #7d6e64;
}

.delete-button:active {
    background-color: #6a5d54;
}
